::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1848px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  display: block;
}

.section {
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}

.no-pt {
  padding-top: 0;
}

.text-left {
  text-align: left;
}

body {
  background-color: #ffffff;
}

.header {
  background-color: #fff;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #1e2e36;
}

.social-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  color: #1e2e36;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin: 10px 0;
}

.social__link {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1e2e36;
}

.social__number {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
  margin-left: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1e2e36;
}

.navigation {
  margin-left: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.nav__link {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1e2e36;
}

.active_page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #44c697;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.header-menu__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1e2e36;
}

.logo {
  padding: 15px 0 25px;
  margin-left: 115px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #1e2e36;
}

.logo__F {
  margin-left: 15px;
  color: #44c697;
}

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.shopping {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1e2e36;
}

.shopping_btn {
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 46px;
  gap: 10px;
  min-width: 278px;
  height: 51px;
  background-color: #44c697;
  border-radius: 3px;
  cursor: pointer;
}

.hero {
  position: relative;
  width: 100%;
  height: 785px;
  background-image: url(../img/hero/herox2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 462px;
  position: absolute;
  padding: 100px 0;
  top: 0;
  left: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-left: 15px solid #44c697;
}

.hero__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  color: #1e2e36;
  margin-bottom: 50px;
}

.hero__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #1e2e36;
  margin-bottom: 10px;
}

.hero__text {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  color: #1e2e36;
  margin-bottom: 30px;
}

.primary__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 46px;
  background-color: #44c697;
  border-radius: 3px;
  margin-bottom: 50px;
}

.btn__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__slider {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #1e2e36;
}

.hero__slider--active {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  color: #1e2e36;
}

.btn-slider {
  border: transparent;
  background-color: transparent;
}

.btn-sliber-shadov {
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.privileg__section {
  margin-top: 90px;
}

.title {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  text-align: center;
  color: #1e2e36;
  margin-bottom: 50px;
}
.title .title-bg {
  position: absolute;
  top: 0px;
  left: -5px;
  display: block;
  width: 20px;
  height: 60px;
  background-color: #44c697;
  z-index: -1;
}

.privileg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: calc((100% - 60px) / 3);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.privileg-btn-left {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.priv-icon {
  fill: #ffffff;
}

.privileg-btn-right {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.privileg__link {
  display: block;
}
.privileg__link:hover .overlay {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 30px;
  text-align: left;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.overlay__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #ffffff;
  margin-bottom: 18px;
}

.overlay__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #44c697;
}

.delivieri::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 285px;
  height: 3px;
  background-color: #44c697;
}

.overlay__text {
  ont-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  color: #ffffff;
}

.categories__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 200px;
  margin-bottom: 85px;
}

.categories__btn {
  position: relative;
  display: inline-grid;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #1e2e36;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.categories__btn:focus::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 10px;
  width: 83%;
  height: 3px;
  background-color: #44c697;
}

.categories__btn--active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 10px;
  width: 83%;
  height: 3px;
  background-color: #44c697;
}

.shop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.shop-list__item {
  position: relative;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.shop-list__item:hover {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}
.shop-list__item:hover .shop-list__title {
  color: #ffffff;
}
.shop-list__item:hover .shop-list__text {
  color: #ffffff;
}
.shop-list__item:hover .shop-list__discount {
  color: #ffffff;
}
.shop-list__item:hover .shop-list__inner {
  background-color: #44c697;
}

.shop-list__link:focus {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}
.shop-list__link:focus .shop-list__title {
  color: #ffffff;
}
.shop-list__link:focus .shop-list__text {
  color: #ffffff;
}
.shop-list__link:focus .shop-list__discount {
  color: #ffffff;
}
.shop-list__link:focus .shop-list__inner {
  background-color: #44c697;
}

.shop-img-new::before {
  content: attr(data-new);
  position: absolute;
  width: 199px;
  height: 33px;
  top: 10px;
  left: 0;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1e2e36;
}

.shop-img-top::before {
  content: attr(data-top);
  position: absolute;
  width: 199px;
  height: 33px;
  top: 10px;
  left: 0;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1e2e36;
}

.shop-img-stock::after {
  content: attr(data-stock);
  position: absolute;
  width: 84px;
  height: 33px;
  top: 48px;
  left: 0;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff1b1b;
}

.shop-list__inner {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop_list__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-list__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #1e2e36;
}

.shop-list__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #1e2e36;
}

.shop-list__text--stock {
  color: #ff1b1b;
}

.shop-list__discount {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #bcbdbb;
  margin-left: 10px;
}

.about {
  position: relative;
}

.about-content {
  position: relative;
  text-align: left;
  top: 50px;
  width: 791px;
  height: 475px;
  padding: 50px;
  background-color: #ffffff;
  border-right: 15px solid #44c697;
}

.about-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #1e2e36;
  margin-bottom: 15px;
}

.abot-text-green {
  color: #44c697;
}

.about_img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.question-section {
  position: relative;
}

.question {
  position: absolute;
  top: 25%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 528px;
  padding: 50px 50px 50px 30px;
  border-left: 15px solid #44c697;
  background-color: #fff;
}

.question-form {
  display: block;
}

.question-title {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  color: #1e2e36;
  margin-bottom: 30px;
}

.question-form-input {
  width: 415px;
  height: 51px;
  padding: 14px 0 14px 15px;
  background: #ffffff;
  border: 1px solid #1e2e36;
  border-radius: 3px;
  margin-bottom: 15px;
}

.question__btn {
  border: transparent;
  width: 432px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 46px;
  background-color: #44c697;
  border-radius: 3px;
  margin-bottom: 50px;
  cursor: pointer;
}

.question__text {
  width: 395px;
  display: block;
  font-size: 18px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1e2e36;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1e2e36;
  padding-bottom: 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer-inner {
  position: relative;
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -15px;
  left: -25px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer-menu {
  width: 50%;
}

.logo--footer {
  margin-top: 30px;
  margin-left: 0;
}

.logo-name-footer {
  color: #ffffff;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

.footer-nav-list--left {
  margin-left: 55px;
}

.footer-nav-item {
  position: relative;
}

.footer-nav-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #fff;
}
.footer-nav-link::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 2px;
  background-color: #44c697;
}

.footer-pic {
  position: absolute;
  right: -101px;
  top: 0;
}

.footer-contact {
  width: 50%;
  padding-top: 190px;
}

.address {
  font-style: normal;
  margin-bottom: 30px;
}

.address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.address-link {
  font-size: 18px;
  line-height: 1.25;
  color: #ffffff;
}

.address-link--green {
  color: #44c697;
}

.address-link-left {
  padding-left: 30px;
}

.foter-soc-title {
  font-size: 18px;
  line-height: 1.25;
  color: #ffffff;
  fill: #ffffff;
}

.footer--social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-icon {
  fill: #ffffff;
}

.footer-copy {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 208px;
  padding-bottom: 15px;
}

.footer-copy-text-left {
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}

.footer-copy-text {
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */